input[type=range]:focus {
  outline: none;
}

input[type=range] {
  cursor: pointer;
  height: 30px;
  margin: 0;
}

.settings{
  float: right;
}

.row {
  height: 30px;
  margin-top: 5px;
}

.row span {
  display: inline-block;
  vertical-align: top;
  height: 30px;
  line-height: 30px;
  border-radius: 3px;
  padding: 0 5px;
  font-family: "OpenSansRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: ghostwhite;
  margin: 0px 20px 0px 10px;
}
